/* -----GENERAL------ */

body {
  font-family: "Helvetica";
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

#checkout-form, #auth-form {
  margin: 2em auto;
  width: 40vw;
}

form.checkout div, #auth-form.form div {
  width: 100%;
}

#auth-form .auth-buttons, #checkout-form .checkout-buttons {
  width: 70%;
  margin: 2em auto 0 auto;
  text-align: center;
}

#auth-form button, #checkout-form button {
  width: 100%;
}

/* -----CART ITEM------ */

.cartNumber {
  display: flex;

}

/* -----MULTI-PHOTO-DISPLAY------ */

.multiPhoto {
  max-height : 60px;
  display: flex;
  width : 300px;
  flex-direction: row;
  margin-bottom: 0
}

.marginCandyItem {
  margin: 0 40px;
}

.row {
  display: inline;
}

.largePhoto {
  width : 250px
}

.smallPhoto {
  width : 50px
}


/* -----NAVBAR------ */

.nav-bar {
  background-color: hotpink
}

/* -----CART PAGE------ */

.cartItemContainer {
  display: flex;
  border: 1px solid black;
}

.cartItemWrapper {
  border: 1px solid black;
  margin: 30px
}

.subTotal {
  display: flex;
  align-items: flex-end;
  flex-direction: column
}

/* -----ORDERS------ */

.order-history {
  margin: 1em 2em;
}

.order-history-orders {
  display: flex;
  flex-wrap: wrap;
}

.order-row {
  flex-basis: 30%;
  margin: 1em;
}

/* -----STRIPE------ */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  margin: 1em 0 0 0;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/* -----Auth Forms------ */

.ui.vertical.menu .item > i.icon.left {
  float: none;
  margin: 0 .5em 0 -.5em;
}

#admin-dashboard {
  margin: 2em auto;
  width: 95vw;
}

#dashboard-right {
  margin-left: 1em;
}
