/* -----GENERAL------ */

body {
  font-family: "Helvetica"
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

form.checkout {
  margin: 1em auto;
  width: 40vw;
}

form.checkout div {
  width: 100%;
}

/* -----NAVBAR------ */

.nav-bar {
  background-color: hotpink
}

/* -----ORDERS------ */

.order-history {
  margin: 1em 2em;
}

.order-history-orders {
  display: flex;
  flex-wrap: wrap;
}

.order-row {
  flex-basis: 30%;
  margin: 1em;
}

/* -----STRIPE------ */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  margin: 1em 0 0 0;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
